<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShopManagement.Properties.Settings.SHOPConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SHOP.accdb"
            providerName="System.Data.OleDb" />
        <add name="ShopManagement.Properties.Settings.MLR4ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MLR4.accdb"
            providerName="System.Data.OleDb" />
        <add name="ShopManagement.Properties.Settings.MLR5ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MLR5.MDB"
            providerName="System.Data.OleDb" />
        <add name="ShopManagement.Properties.Settings.MLR51ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MLR51.accdb"
            providerName="System.Data.OleDb" />
        <add name="ShopManagement.Properties.Settings.SHOPDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SHOPDB.MDB"
            providerName="System.Data.OleDb" />
        <add name="ShopManagement.Properties.Settings.SHOPDBConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SHOPDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="ShopManagement.Properties.Settings.SHOPNEWConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SHOPNEW.accdb"
            providerName="System.Data.OleDb" />
        <add name="ShopManagement.Properties.Settings.NEWSHOPConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\NEWSHOP.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>